<div class="row">

  <div class="col-md-2">
          <%=image_tag education.logo_education.url(:display), class: "img-responsive" %>
  </div>

    <div class="col-md-5">
        <h3><%=education.school_name%></h3>
        <h4><%=education.year_from%>-<%=education.year_to%></h4>
        <p>
          <%=education.degree%>
        </p>
        <a class="btn btn-danger" href="#">School Website<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>

<hr>
