<script>
  $(document).ready(function() {
    var owl = $("#carousel");

    owl.owlCarousel({
        items : 5, //10 items above 1000px browser width
        itemsDesktop : [1000,4], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,3], // betweem 900px and 601px
        itemsTablet: [600,2], //2 items between 600 and 0
        itemsMobile: [400,1], // itemsMobile disabled - inherit from itemsTablet option
        pagination: false
    });

    // Custom Navigation Events
    $(".next").click(function(){
      owl.trigger('owl.next');
    })
    $(".prev").click(function(){
      owl.trigger('owl.prev');
    })
    $("#carousel-prev").offset({top:$("div.carousel-bg").offset().top, left: 0});
    $("#carousel-next").offset({top:$("div.carousel-bg").offset().top, right: 0});
  });
</script>

<%# if @viewing_profiles %>
  <form class="navbar-form navbar-left" role="search">
    <%= form_for profiles_path, method: :get do %>
      <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Search.." %>
      <button type="submit" class="btn btn-default">
        <%= fa_icon("search") %>
      </button>
    <% end %>
  </form>
<%# end %>

<%#= @profiles.count %>
<%= paginate @profiles %>

<div class="carousel-bg">
  <div class="btn-group inline float-left top-most">
    <button type="button" id="carousel-prev" class="btn btn-danger prev fa-lg inline float-left"><%= fa_icon("backward") %></button>
  </div>
  <div class="btn-group inline float-right top-most">
    <button type="button" id="carousel-next" class="btn btn-danger next fa-lg inline float-right"><%= fa_icon("forward") %></button>
  </div>
  <div id="carousel" class="owl-carousel">

    <% logo_array = [] %>
    <% (1..7).each {|n| logo_array.push "no_avatar#{n}.png"} %>
    <% google_maps_search = "http://maps.google.com/?q=" %>
    <% @profiles.where(availability: :true).each do |p| %>
      <div class="thumbnail">
				<% profile_image = p.image.present? ? p.image.url() : asset_path(logo_array.sample) %>
        <div class="carousel-photo">
          <%= image_tag profile_image, class:"img-thumbnail img-responsive" %>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading centered thumbnail-text-height thumbnail-scroll">
            <p><strong><%= "#{p.user.first_name} #{p.user.last_name}" %></strong></p>
          </div>
          <div class="panel-body thumbnail-pitch thumbnail-scroll">
            <%= "#{p.pitch}" %>
          </div>
          <div class="panel-footer centered thumbnail-text-height thumbnail-scroll">
            <% locate_me = google_maps_search + p.location %>
            <a href=<%= locate_me %>, target="_blank"><%= "#{p.location}" %></a>
          </div>
        </div>
        <%= link_to "#{fa_icon('search')} View".html_safe, profile_path(p), class: "btn btn-danger btn-block fa-lg" %>
      </div>
    <% end %>
  </div>
</div>
