<body id="homepage">

<div style="width: 100%; height: 100vh;"
   data-vide-bg="<%= asset_path('vid/cc-vid.mp4') %>" data-vide-options="loop: true, muted: true, position: 0% 0%">

	<%= link_to profiles_path do %>
		<%= image_tag("cca-logo.png", class: "top-left") %>
	<% end %>

  <div class="content1" style='text-align:center;'>
    <div>
      <p>
      <div>
        <i class="fa fa-quote-left"></i>
          <span style="font-weight:200;letter-spacing:1px">
            Everyone should learn how to code, it teaches you how to think
          </span>
        <i class="fa fa-quote-right"></i>
        <br>
        <span style="font-size: 20px">- Steve Jobs</span>
        <!-- <span style="font-size: 30px">- Steve Jobs</span> -->
      </p>
    </div>

    <div class="container" style="text-align: justify">
      <div class="box" style="float:right;">
        <%= link_to "AVAILABLE STUDENTS", profiles_path, class: "homepage btn btn-default" %>
      </div>
      <div class="box" style="float: right;">
        <%= link_to "SIGN IN", new_session_path, class: "homepage btn btn-default" %>
      </div>
      <div class="box" style="float:left;">
        <%= link_to "VIEW ALL STUDENTS", profiles_path, class: "homepage btn btn-default" %>
      </div>
    </div>

  </div>

</div>
</body>
