<%= simple_form_for @profile, remote: true do |p| %>
  <%= p.simple_fields_for :projects, @profile.projects.build do |f| %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :weblink, label: "Web Link" %>
  <%= f.input :sourcecode, label: "Source Code" %>
  <%= f.input :logo_project, label: "Project Logo" %>
  <% end %>
  <ul class="list-inline pull-right">
  <li><button type="button" class="btn btn-danger prev-step">Previous</button></li>
  <li><button type="button" class="btn btn-danger next-step">Skip</button></li>
  <li>
      <%= p.button :submit, "Save and continue", class: "btn btn-danger"%>
  </li>
  <%end%>
  </ul>
