<%= simple_form_for @profile, remote: true do |p| %>
  <%= p.simple_fields_for :experiences, @profile.experiences.build do |f| %>
  <%= f.input :position, label: "Position" %>
  <%= f.input :company, label: "Company" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :weblink, label: "Web Link" %>
  <%= f.input :logo_experience, label: "Experience Logo" %>
  <% end %>
  <ul class="list-inline pull-right">
  <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
  <li><button type="button" class="btn btn-default next-step">Skip</button></li>
  <li>
      <%= p.button :submit, "Save and continue", class: "btn btn-primary"%>
  </li>
  <%end%>
  </ul>
