<nav class="navbar navbar-default navbar-fixed-top">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand logo_header">
          <%= link_to image_tag("cca-logo.png"), root_path, class: "navbar-brand" %>
        </a>
        <ul class="nav navbar-nav">
          <li><%= link_to "AVAILABLE STUDENTS", profiles_path %></li>
          <li><%= link_to "ALL STUDENTS", profiles_path(show_all: true) %></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if @viewing_profiles %>
          <form class="navbar-form navbar-left" role="search">
            <%= form_for profiles_path, method: :get do %>
              <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Search.." %>
              <button type="submit" class="btn btn-default">
                <%= fa_icon("search") %>
              </button>
            <% end %>
          </form>
        <% end %>

        <% if user_signed_in? %>
            <% if current_user.admin == true %>
          <li><%= link_to "ADMIN", users_path %></li>
            <% end %>
          <li><%= link_to edit_user_path(current_user.id) do %>
            Hey! <%= current_user.first_name %> :)
          <% end %></li>
          <li><%= link_to "SIGN OUT", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "SIGN IN", new_session_path %></li>
          <li><%= link_to "SIGN UP", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
